<div class="login-block">
  <% if current_user %>
    <p class="name"><%= current_user.nice_name %> &middot; <%= link_to "Sign out", signout_path %></p>
  <% else %>
    <p class="name"><%= image_tag "orcid_24x24.png" %> <%= link_to "Sign in with ORCID", "/auth/orcid" %></p>
  <% end %>
</div>
