<div class="columns">
  <div class="one-half column centered login-window">
    <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>
    <h2>Please log in</h2>
    <p>The Journal of Open Source Software uses ORCID accounts for user accounts. Click the 'Sign in with ORCID' link to the right to get started.</p>
    <%= render :partial => 'sessions/login' %>
  </div>
</div>
