---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openjournals/joss-reviews-testing/issues/79
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"21cc626cd5b1f57e6789f6e1dc03d9214bafcc46a66dc67247a59360afc1dcdb"
      last-modified:
      - Mon, 15 Feb 2021 15:30:05 GMT
      x-github-media-type:
      - github.v3; format=json
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '54'
      x-ratelimit-reset:
      - '1613425220'
      x-ratelimit-used:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/openjournals/joss-reviews-testing/issues/79","repository_url":"https://api.github.com/repos/openjournals/joss-reviews-testing","labels_url":"https://api.github.com/repos/openjournals/joss-reviews-testing/issues/79/labels{/name}","comments_url":"https://api.github.com/repos/openjournals/joss-reviews-testing/issues/79/comments","events_url":"https://api.github.com/repos/openjournals/joss-reviews-testing/issues/79/events","html_url":"https://github.com/openjournals/joss-reviews-testing/issues/79","id":178630651,"node_id":"MDU6SXNzdWUxNzg2MzA2NTE=","number":79,"title":"[REVIEW]:
        Python Active-subspaces Utility Library","user":{"login":"whedon","id":18508068,"node_id":"MDQ6VXNlcjE4NTA4MDY4","avatar_url":"https://avatars.githubusercontent.com/u/18508068?v=4","gravatar_id":"","url":"https://api.github.com/users/whedon","html_url":"https://github.com/whedon","followers_url":"https://api.github.com/users/whedon/followers","following_url":"https://api.github.com/users/whedon/following{/other_user}","gists_url":"https://api.github.com/users/whedon/gists{/gist_id}","starred_url":"https://api.github.com/users/whedon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/whedon/subscriptions","organizations_url":"https://api.github.com/users/whedon/orgs","repos_url":"https://api.github.com/users/whedon/repos","events_url":"https://api.github.com/users/whedon/events{/privacy}","received_events_url":"https://api.github.com/users/whedon/received_events","type":"User","site_admin":false},"labels":[{"id":330461591,"node_id":"MDU6TGFiZWwzMzA0NjE1OTE=","url":"https://api.github.com/repos/openjournals/joss-reviews-testing/labels/accepted","name":"accepted","color":"159818","default":false,"description":null},{"id":1880544947,"node_id":"MDU6TGFiZWwxODgwNTQ0OTQ3","url":"https://api.github.com/repos/openjournals/joss-reviews-testing/labels/published","name":"published","color":"e276d8","default":false,"description":"Papers
        published in JOSS"},{"id":1880543836,"node_id":"MDU6TGFiZWwxODgwNTQzODM2","url":"https://api.github.com/repos/openjournals/joss-reviews-testing/labels/recommend-accept","name":"recommend-accept","color":"b9f9a9","default":false,"description":"Papers
        recommended for acceptance in JOSS."},{"id":330465313,"node_id":"MDU6TGFiZWwzMzA0NjUzMTM=","url":"https://api.github.com/repos/openjournals/joss-reviews-testing/labels/review","name":"review","color":"fbca04","default":false,"description":null}],"state":"closed","locked":false,"assignee":{"login":"kyleniemeyer","id":190432,"node_id":"MDQ6VXNlcjE5MDQzMg==","avatar_url":"https://avatars.githubusercontent.com/u/190432?v=4","gravatar_id":"","url":"https://api.github.com/users/kyleniemeyer","html_url":"https://github.com/kyleniemeyer","followers_url":"https://api.github.com/users/kyleniemeyer/followers","following_url":"https://api.github.com/users/kyleniemeyer/following{/other_user}","gists_url":"https://api.github.com/users/kyleniemeyer/gists{/gist_id}","starred_url":"https://api.github.com/users/kyleniemeyer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kyleniemeyer/subscriptions","organizations_url":"https://api.github.com/users/kyleniemeyer/orgs","repos_url":"https://api.github.com/users/kyleniemeyer/repos","events_url":"https://api.github.com/users/kyleniemeyer/events{/privacy}","received_events_url":"https://api.github.com/users/kyleniemeyer/received_events","type":"User","site_admin":false},"assignees":[{"login":"kyleniemeyer","id":190432,"node_id":"MDQ6VXNlcjE5MDQzMg==","avatar_url":"https://avatars.githubusercontent.com/u/190432?v=4","gravatar_id":"","url":"https://api.github.com/users/kyleniemeyer","html_url":"https://github.com/kyleniemeyer","followers_url":"https://api.github.com/users/kyleniemeyer/followers","following_url":"https://api.github.com/users/kyleniemeyer/following{/other_user}","gists_url":"https://api.github.com/users/kyleniemeyer/gists{/gist_id}","starred_url":"https://api.[...]
