Hello there, you've just been invited to edit the <%= Rails.application.settings['abbreviation'] %> paper <em>'<%= @paper.title %>'</em>.
<br />
Please visit the <a href='<%= @paper.meta_review_url %>'>pre-review issue</a> in the next three working days to either accept or decline this invitation.
<br />
Thanks!<br />
The <%= Rails.application.settings['abbreviation'] %> editorial robot.
