<h4><%= Rails.application.settings["abbreviation"] %> editor onboarding</h4>

<p>Hello there! you have been invited to our editorial board</p>

<p>
  To complete the process, please fill in your profile here:
  <br />
  <%= link_to editor_onboardings_url(token: @onboarding_invitation.token), editor_onboardings_url(token: @onboarding_invitation.token)%>
  <br />
  You will need to be logged in as a user with the email this invitation is sent to: <%= @onboarding_invitation.email %>.
</p>

Thanks!<br />
The <%= Rails.application.settings['abbreviation'] %> editorial team.
