<% unless current_user.email? %>
<div class="flash flash-warn">

  <%= form_tag("/update_email", :id => "email-form") do %>
    <strong>Please add an email address to your account before continuing</strong>
    <p>We'll use this to communicate the status of your paper and you won't be able to submit a paper without giving us this information. We promise not to spam you.</p>
    <%= email_field "user", "email", :placeholder => "your.email@example.com", :size => 21 %>
    <%= button_tag "Save", :class => "btn btn-default" %>
  <% end %>
</div>
<% end %>
