<div class="alert alert-danger %>">
  <p><strong>Your <%= object.class.name.downcase %> could not be saved.</strong></p>
  <ul>
  <% object.errors.each do |error| -%>
    <li><%= error.message %></li>
  <% end -%>
  </ul>
</div>
