<div class="alert alert-danger %>">
  <p><strong>Your <%= object.class.name.downcase %> could not be saved.</strong></p>
  <ul>
  <% object.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
  <% end -%>
  </ul>
</div>
