<%- [:error, :warning, :notice].each do |level| -%>
  <%- if flash[level] -%>
  <div role="alert" class="alert fade show alert-dismissible <%= flash_class_for(level.to_s) %>">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg %>
    <% end -%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <%- end -%>
<%- end -%>


