<%- [:error, :warning, :notice].each do |level| -%>
  <%- if flash[level] -%>
  <div class="flash <%= flash_class_for(level.to_s) %>">
    <%= flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  </div>
  <%- end -%>
<%- end -%>
