<%- [:error, :warning, :notice].each do |level| -%>
  <%- if flash[level] -%>
  <div class="alert <%= flash_class_for(level.to_s) %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= flash[level] %>
  </div>
  <%- end -%>
<%- end -%>
