<div class="alert alert-warning" role="alert">
  Before you can submit a paper to JOSS, you need to add your email address and GitHub handle to <%= link_to "your profile &rarr;".html_safe, profile_path %>.
</div>
