<% if @paper.retracted? %>
  <div class="alert alert-danger">
  <% if @paper.retraction_notice.present? %>
    <%= @paper.retraction_notice.html_safe %>
  <% elsif @paper.retraction_paper.present? %>
    This paper has been retracted, <%= link_to "read details here", @paper.retraction_paper.seo_url %>
  <% else %>
    This paper has been retracted
  <% end %>
  </div>
<% end %>

<% if @paper.is_a_retraction_notice? %>
  <div class="alert alert-danger">
    This paper is a retraction notice for: <%= link_to @paper.retracted_paper.title, @paper.retracted_paper.seo_url %>
  </div>
<% end %>
