<% if current_user.editor? %>
  <div class="btn-group" role="group" aria-label="Profiles">
    <%= link_to "User profile", profile_path, class: current_class?(profile_path) %>
    <%= link_to "Editor profile", editor_profile_path, class: current_class?(editor_profile_path) if current_user.editor? %>
  </div>
<% end %>
