<div class="columns about-page">
  <h1>The Journal of Open Source Software</h1>

  <p class="lead">The Journal of Open Source Software (JOSS) is a <strong>developer friendly</strong> journal for research codes.</p>

  <h3>What <em>exactly</em> do you mean by 'journal'</h3>

  <p>The Journal of Open Source Software (JOSS) is a legitimate academic journal. We have a rigorous peer review process and a first-class <%= link_to "editorial board", editors_path %>. Upon acceptance into JOSS, a CrossRef DOIs is minted and we archive your work with Zenodo.org.</p>

  <h3>Don't we have enough journals already?</h3>

  <p>Perhaps, and in a perfect world we'd rather papers about software we're necessary but we recognize that for most researchers, papers and not software are the currency of academic research and that citations are required for a good career.</p>

  <p>We built this journal because we believe that after you've done the hard work of writing great software, it shouldn't take weeks and months to create a paper<sup>1</sup> about your work.</p>

  <h3>You said <em>developer friendly</em>, what do you mean?</h3>

  <p>We have libraries in Python, R and Ruby to help you prepare your submission. If your software is already well documented then paper preparation should take no more than an hour.</p>

  <h3>What are your requirements for submission?</h3>

  <ul>
    <li>Your software should be open source and available in a public software repository and contain a <code>PAPER.md</code> file describing the overall design of your software</li>
    <li>Documentation describing the core API/software functionality, installation instructions and dependencies</li>
    <li>A <%= link_to "metadata", "https://github.com/codemeta/codemeta/blob/master/example-codemeta.json" %> file listing authors, citations and key dependencies</li>
  </ul>

  <h3>What does the submission &amp; review process look like?</h3>

  <ul>
    <li>Fill in the short <%= link_to "submission form", new_paper_path %></li>
    <li>A reviewer is assigned and the review is carried out in the JOSS GitHub repository</li>
    <li>Upon (successful) completion of the review, your paper is deposited in CrossRef and archived in Zenodo.org</li>
    <li>And that's it.</li>
  </ul>



  <p>1. After all, this is just advertising http://statweb.stanford.edu/~wavelab/Wavelab_850/wavelab.pdf</p>

</div>
