<div class="columns homepage">
  <div class="hero">
    <h1>astropy</h1>
    <p class="lead">A community library for astronomy</p>
    <a href="#" class="authors">Foreman-Mackey, Hogg, Lang &amp; Goodman (2012)</a>
    <p>Kevin boudin beef ribs tail ribeye. Tail beef ribs frankfurter ball tip,
      shank flank short ribs pork chop jowl strip steak capicola turducken short
      loin leberkas. Shank tongue picanha ball tip ground round rump, beef ribs
      strip steak short ribs landjaeger. Cupim tri-tip tongue doner pastrami
      kevin porchetta ham hamburger spare ribs swine salami flank leberkas
      biltong. Bacon doner prosciutto venison andouille pig rump ham hock
      capicola alcatra. Pig venison doner, tail strip steak swine ball tip
      sirloin fatback landjaeger meatball pork belly turducken.</p>

    <button class="btn btn-outline" type="button">Read more &rarr;</button>
  </div>

  <div class="filter-menu">
    <div class="tabnav">
      <nav class="tabnav-tabs">
        <a href="#" class="tabnav-tab selected" data-target="recent-papers">Recent papers (4)</a>
        <a href="#" class="tabnav-tab" data-target="popular-papers">Popular papers (16)</a>
        <a href="#" class="tabnav-tab" data-target="all-papers">All papers (67)</a>
      </nav>
    </div>
  </div>

  <div class="paper-list" id="recent-papers">
    <div class="list-paper columns">
      <div class="details four-fifths column">
        <span class="octicon octicon-mark-github"></span><h2>dfm / emcee</h2>
        <p class="tag-line">Seriously Kick-Ass MCMC. Tenderloin strip steak jowl porchetta. Flank hamburger strip steak pork belly tri-tip andouille. Pork loin tongue venison boudin landjaeger filet mignon chuck frankfurter. </p>
      </div>

      <div class="meta one-fifth column">
        <a href="#" class="doi">10.5281/zenodo.35094</a><span class="octicon octicon-link-external"></span>
      </div>
    </div>

    <div class="list-paper columns">
      <div class="details four-fifths column">
        <span class="octicon octicon-mark-github"></span><h2>ropensci / webchem</h2>
        <p class="tag-line">An R package to retrieve chemical information from the web. Bacon ipsum dolor amet capicola short ribs pork andouille. Frankfurter bresaola corned beef rump meatloaf.</p>
      </div>

      <div class="meta one-fifth column">
        <a href="#" class="doi">10.5281/zenodo.35094</a><span class="octicon octicon-link-external"></span>
      </div>
    </div>

    <div class="list-paper columns">
      <div class="details four-fifths column">
        <span class="octicon octicon-mark-github"></span><h2>arfon / fidgit</h2>
        <p class="tag-line">An ungodly union of GitHub and Figshare http://fidgit.arfon.org. Salami t-bone prosciutto, turkey swine fatback chicken turducken beef shoulder tri-tip sirloin short ribs rump. Swine rump tongue bacon pig meatball pork loin pork jowl.</p>
      </div>

      <div class="meta one-fifth column">
        <a href="#" class="doi">10.5281/zenodo.35094</a><span class="octicon octicon-link-external"></span>
      </div>
    </div>

    <div class="list-paper columns">
      <div class="details four-fifths column">
        <span class="octicon octicon-mark-github"></span><h2>cboettig / nonparametric-bayes</h2>
        <p class="tag-line">This repository contains the research compendium of our work in nonparametric Bayesian inference for improving ecosystem management under deep structural uncertainty.</p>
      </div>

      <div class="meta one-fifth column">
        <a href="#" class="doi">10.5281/zenodo.12669</a><span class="octicon octicon-link-external"></span>
      </div>
    </div>

    <p class="centered">
      <%= link_to "View all recent papers &raquo;".html_safe, recent_papers_path %>
    </p>
  </div>

  <div class="paper-list hidden" id="popular-papers">
    <div class="list-paper columns">
      <div class="details four-fifths column">
        <span class="octicon octicon-mark-github"></span><h2>dfm / emcee</h2>
        <p class="tag-line">Seriously Kick-Ass MCMC. Tenderloin strip steak jowl porchetta. Flank hamburger strip steak pork belly tri-tip andouille. Pork loin tongue venison boudin landjaeger filet mignon chuck frankfurter. </p>
      </div>

      <div class="meta one-fifth column">
        <a href="#" class="doi">10.5281/zenodo.35094</a><span class="octicon octicon-link-external"></span>
      </div>
    </div>

    <div class="list-paper columns">
      <div class="details four-fifths column">
        <span class="octicon octicon-mark-github"></span><h2>arfon / fidgit</h2>
        <p class="tag-line">An ungodly union of GitHub and Figshare http://fidgit.arfon.org. Salami t-bone prosciutto, turkey swine fatback chicken turducken beef shoulder tri-tip sirloin short ribs rump. Swine rump tongue bacon pig meatball pork loin pork jowl.</p>
      </div>

      <div class="meta one-fifth column">
        <a href="#" class="doi">10.5281/zenodo.35094</a><span class="octicon octicon-link-external"></span>
      </div>
    </div>

    <p class="centered">
      <%= link_to "View all popular papers &raquo;".html_safe, popular_papers_path %>
    </p>
  </div>

  <div class="paper-list hidden" id="all-papers">
    <div class="list-paper columns">
      <div class="details four-fifths column">
        <span class="octicon octicon-mark-github"></span><h2>dfm / emcee</h2>
        <p class="tag-line">Seriously Kick-Ass MCMC. Tenderloin strip steak jowl porchetta. Flank hamburger strip steak pork belly tri-tip andouille. Pork loin tongue venison boudin landjaeger filet mignon chuck frankfurter. </p>
      </div>

      <div class="meta one-fifth column">
        <a href="#" class="doi">10.5281/zenodo.35094</a><span class="octicon octicon-link-external"></span>
      </div>
    </div>

    <p class="centered">
      <%= link_to "View all papers &raquo;".html_safe, papers_path %>
    </p>
  </div>
</div>
