<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-8">
      <h1>Profile</h1>
      <p>Please make sure you've added an email address and GitHub username to your profile before submitting. We'll use this to communicate the status of your paper and you won't be able to submit a paper without giving us this information. We promise not to spam you. </p>
      <%= form_tag("/update_profile", :id => "profile-form") do %>
      <div class="form-group">
        <label for="email">Email address</label>
        <%= email_field "user", "email", :placeholder => "your.email@example.com", :class => "form-control" %>
      </div>

      <div class="form-group">
        <label for="email">Github Username</label>
        <%= text_field "user", "github_username", :placeholder => "@username", :class => "form-control" %>
      </div>
      <div class="form-actions">
        <%= submit_tag("Update profile", :class => "btn") %>
      </div>
      <% end %>
    </div>
  </div>
</div>
