<div class="container">
  <div class="btn-group" role="group" aria-label="Paper Status">
    <%= link_to "Submissions overview", aeic_dashboard_path, class: current_class?(aeic_dashboard_path) %>
    <%= link_to "Editors", editors_path, class: current_class?(editors_path) %>
    <%= link_to "Invitations", invitations_path, class: current_class?(invitations_path) %>
  </div>
</div>
