<div class="row footer">
<div class="col-sm-6">
<center><%= link_to image_tag("conp_logo", class: "center"), "https://conp.ca/" %></center>
</div>

<div class="col-sm-6" style="border-left: 1px solid slategray;">
<center><%= link_to image_tag("logo-brain-canada.svg", class: "center"), "https://braincanada.ca/" %></center>
</div>
</div>
