<%= image_tag "osi_small.png", :height => "70px", :class => "left" %>
<span class='affiliation'>The Journal of Open Source Software is <br>
  <a href="https://opensource.org/affiliates/list" target="_blank">an affiliate</a> of the
  <a href="https://opensource.org" target="_blank">Open Source Inititative</a>.
</span>
<%= image_tag "numfocus.png", :height => "70px", :class => "left" %>
