<div class="row footer">
<div class="col-sm-6">
<center><img src="https://conp.ca/wp-content/uploads/2018/04/logo-2.png" class="center"></center>
</div>

<div class="col-sm-6" style="border-left: 1px solid slategray;">
<p>NeuroLibre is supported by the <a href="https://conp.ca/" target="_blank">Canadian Open Neuroscience Platform (CONP)</a>.</p>
</div>
</div>
