
  <div class="row footer">

  <div class="col-sm-6">
    <%= image_tag "osi.png", :height => "60px" %>
    <p>The <%= Rails.application.settings['name'] %> is an <a href="https://opensource.org/affiliates/list">affiliate</a> of the <a href="https://opensource.org">Open Source Inititative</a></p>
  </div>

  <div class="col-sm-6">
    <%= image_tag "numfocus.png", :height => "60px" %>
    <p>Committed to being free forever thanks to our network of volunteers and partners.</p>
  </div>


  </div>
   <div class="row cc">
   <%= image_tag "cc-logo.svg", :height => "48px" %>
    <p>Public user content licensed CC BY 4.0 otherwise specified</p>
  </div>
