<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-10">
      <h1>New Editor</h1>
      <%= render 'form' %>

      <div class="links">
        <%= link_to '&laquo; Back to editor list'.html_safe, editors_path %>
      </div>
    </div>
  </div>
</div>
