<div class="editors">
  <div class="content">
    <h1>New Editor</h1>
    <%= render 'form' %>

    <div class="links">
      <%= link_to '&laquo; Back to editor list'.html_safe, editors_path %>
    </div>
  </div>
</div>
