<% papers.each do |paper| %>
<div class="list-paper columns">
  <div class="details three-fourths column">
    <span class="octicon octicon-mark-github"></span><h2 class="paper-title"><%= link_to paper.pretty_repository_name, paper_path(paper) %><img src="http://joss.theoj.org/papers/<%= paper.sha %>/status.svg"></h2>
    <p class="tag-line"><%= truncate(paper.body, :length => 200) %></p>
  </div>

  <div class="meta one-fourth column">
    <%= link_to paper.pretty_doi, paper.archive_doi, :class => "doi" %><span class="octicon octicon-link-external"></span>
  </div>
</div>
<% end %>
