<p class="meta"><% if current_user.editor? %><strong>Author email:</strong> <%= mail_to paper.submitting_author.email if paper.submitting_author.email? %><% end %></p>

<% if paper.meta_review_issue_id %>
  <%= link_to "View meta review issue &raquo;".html_safe, paper.meta_review_url, target: "_blank", class: "btn btn-sm btn-secondary" %>
<% end %>

<% if paper.review_issue_id %>
  <%= link_to "View review issue &raquo;".html_safe, paper.review_url, target: "_blank", class: "btn btn-sm btn-secondary" %>
<% end %>
