<div class="all-papers">
  <div class="filter-menu">
    <div class="tabnav">
      <nav class="tabnav-tabs">
        <a href="#" class="tabnav-tab selected">Recent papers (4)</a>
        <a href="#" class="tabnav-tab">Popular papers (16)</a>
        <a href="#" class="tabnav-tab">Submitted papers (28)</a>
        <a href="#" class="tabnav-tab">All papers (67)</a>
      </nav>
    </div>
  </div>

  <div class="list-paper columns">
    <div class="details four-fifths column">
      <span class="octicon octicon-mark-github"></span><h2>dfm / emcee</h2>
      <p class="tag-line">Seriously Kick-Ass MCMC. Tenderloin strip steak jowl porchetta. Flank hamburger strip steak pork belly tri-tip andouille. Pork loin tongue venison boudin landjaeger filet mignon chuck frankfurter. </p>
    </div>

    <div class="meta one-fifth column">
      <a href="#" class="doi">10.5281/zenodo.35094</a><span class="octicon octicon-link-external"></span>
    </div>
  </div>

  <div class="list-paper columns">
    <div class="details four-fifths column">
      <span class="octicon octicon-mark-github"></span><h2>ropensci / webchem</h2>
      <p class="tag-line">An R package to retrieve chemical information from the web. Bacon ipsum dolor amet capicola short ribs pork andouille. Frankfurter bresaola corned beef rump meatloaf.</p>
    </div>

    <div class="meta one-fifth column">
      <a href="#" class="doi">10.5281/zenodo.35094</a><span class="octicon octicon-link-external"></span>
    </div>
  </div>

  <div class="list-paper columns">
    <div class="details four-fifths column">
      <span class="octicon octicon-mark-github"></span><h2>arfon / fidgit</h2>
      <p class="tag-line">An ungodly union of GitHub and Figshare http://fidgit.arfon.org. Salami t-bone prosciutto, turkey swine fatback chicken turducken beef shoulder tri-tip sirloin short ribs rump. Swine rump tongue bacon pig meatball pork loin pork jowl.</p>
    </div>

    <div class="meta one-fifth column">
      <a href="#" class="doi">10.5281/zenodo.35094</a><span class="octicon octicon-link-external"></span>
    </div>
  </div>

  <div class="list-paper columns">
    <div class="details four-fifths column">
      <span class="octicon octicon-mark-github"></span><h2>cboettig / nonparametric-bayes</h2>
      <p class="tag-line">This repository contains the research compendium of our work in nonparametric Bayesian inference for improving ecosystem management under deep structural uncertainty.</p>
    </div>

    <div class="meta one-fifth column">
      <a href="#" class="doi">10.5281/zenodo.12669</a><span class="octicon octicon-link-external"></span>
    </div>
  </div>
</div>
