<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-10">
      <!-- <h1>Submit <%= setting(:product) %> for review</h1> -->

      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Submissions to JOSS are suspended until at least 11th April 2020</h4>

        <p>In light of the COVID-19 pandemic, and the fact that JOSS is a volunteer-run journal, the JOSS editorial team has taken the decision to suspend new submissions to JOSS for at 30 days (and possibly longer).</p>

        <p>Existing submissions will be handled on a 'best effort' basis but new submissions will not be accepted until we are confident we can handle submissions in a timely fashion.</p>

        <p>Additionally, authors planning to submit can make use of the <a href="http://whedon.theoj.org">JOSS paper preview service</a> to prepare their manuscripts ahead of submissions reopening.</p>

        <p>Please check back here again on the 12th of April or follow our <a href="https://twitter.com/joss_theoj">Twitter account</a> for updates.</p>


        <p><em>Arfon Smith, Editor in Chief, on behalf of the JOSS editorial team.</em></p>
      </div>

      <!-- <div class="alert alert-info" role="alert">

      <center><strong>⚠️ ⚠️ ⚠️ Before you submit ⚠️ ⚠️ ⚠️ </strong></center>
      <p>As the submitting author, before you submit, please make sure that you have reviewed the following items. We promise this will make things go much more quickly during the review process:
      <ul>
        <li>You have reviewed the <a href="https://joss.readthedocs.io/en/latest/submitting.html">submission instructions</a> and verified that your submission meets our <a href="https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements">submission requirements</a>.</li>
        <li>There is a Markdown file named <code>paper.md</code> present in your repository that is structured <a href="https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography">like this</a>, and you've tested it compiles properly using <a href='https://whedon.theoj.org'>this preview service</a>.</li>
        <li>You have included the <a href="https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain">required sections</a> in your paper.</li>
      </ul>
      </p>
      </div> -->

      <%# render partial: "form", locals: { paper: @paper } %>

    </div>
  </div>
</div>
