<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-10">
      <h1>Submit <%= setting(:product) %> for review</h1>

      <div class="alert alert-info" role="alert">
        <center><strong>⚠️ ⚠️ ⚠️ Before you submit ⚠️ ⚠️ ⚠️ </strong></center>
        <p>
          As the submitting author, before you submit, please make sure that you have reviewed the following items.
          We promise this will make things go much more quickly during the review process:
        <ul>
          <li>You have reviewed the <a href="https://docs.neurolibre.org/en/latest/index.html">submission instructions</a>
        </ul>
        </p>
      </div>

      <%= render partial: "form", locals: { paper: @paper } %>

    </div>
  </div>
</div>
