<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-10">
      <h1>Submit <%= setting(:product) %> for review</h1>

      <div class="alert alert-info" role="alert">
        <center><strong>⚠️ ⚠️ ⚠️ Before you submit ⚠️ ⚠️ ⚠️ </strong></center>
        <p>As the submitting author, before you submit, please make sure that you have reviewed the following items. We promise this will make things go much more quickly during the review process:
        <ul>
          <li>You have reviewed the <a href="https://joss.readthedocs.io/en/latest/submitting.html">submission instructions</a> and verified that your submission meets our <a href="https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements">submission requirements</a>.</li>
          <li>There is a Markdown file named <code>paper.md</code> present in your repository that is structured <a href="https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography">like this</a>, and you've tested it compiles properly using <a href='https://whedon.theoj.org'>this preview service</a>.</li>
          <li>You have included the <a href="https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain">required sections</a> in your paper.</li>
        </ul>
        </p>
      </div>

      <%= render partial: "form", locals: { paper: @paper } %>

    </div>
  </div>
</div>
