<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-10">
      <h1>Submit <%= setting(:product) %> for review</h1>

      <div class="alert alert-info" role="alert">
        <center><strong>⚠️ ⚠️ ⚠️ Before you submit ⚠️ ⚠️ ⚠️ </strong></center>
        <p>As the submitting author, before you submit, please make sure that you have reviewed the following items. We promise this will make things go much more quickly during the review process:
        <ul>
          <li>You have reviewed the <a href="https://juliacon.github.io/proceedings-guide/author/">author's guide</a> and, as a complementary resource, the <a href="https://joss.readthedocs.io/en/latest/submitting.html">JOSS submission docs</a>.</li>
          <li>Your <code>paper/</code> subfolder (or alternatively your separate paper repository) has the <a href="https://juliacon.github.io/proceedings-guide/author/#submission_details">required structure</a>. </li>
          <li>Your paper is written in LaTeX, i.e. there is a <code>paper.tex</code> file. (Note that Markdown is <b>not supported</b> and there musn't be a <code>paper.md</code> in your repository!)</li>
        </ul>
        </p>
      </div>

      <%= render partial: "form", locals: { paper: @paper } %>

    </div>
  </div>
</div>
