<p>
  JOSE, pronounced [hoe-zay], is a sibling journal to the
  <a href="http://joss.theoj.org/" target="_blank">Journal of Open Source Software</a>
  (JOSS), which publishes open-source research software. JOSE relies on the
  journal management infrastructure and tools developed for JOSS.
</p>

<p>
  JOSE publishes two types of articles that describe:
  <ul>
      <li>open-source educational materials</li>
      <li>open-source educational software tools</li>
  </ul>
</p>

<h3>Why is this journal needed?</h3>
<p>
  Currently, academia lacks a mechanism for crediting efforts to develop software for
  assisting teaching and learning or open-source educational content and materials.
  As a result, beyond personal motivation, there is little incentive to develop and share such material.
</p>

<p>
  The Journal of Open Source Education (JOSE) is a scholarly journal with a formal peer
  review process designed to <em>improve the quality of the software or content submitted.</em>
  Upon acceptance into JOSE, a CrossRef DOI is minted and we list your paper on the JOSE website.
</p>

<h3>Who is behind this journal?</h3>
<p>
  This is an initiative led directly by the Editorial Board on a purely volunteer basis.
  There is no publisher seeking revenue through the journal. JOSE runs on the efforts
  of the editors, authors, and reviewers, to communicate scholarly work to the open-source community without intermediaries.
</p>

<h3>What do you mean by "open-source educational materials"?</h3>
<p>
  "Open-source" implies that there are source files that are converted and
  rendered into a final learner-presentable form. Examples include Jupyter
  notebooks or plaintext/markup language documents like LaTeX, Markdown,
  ReStructuredText, AsciiDoc, and R Markdown. These documents should contain
  the lesson content and be designed to be reusable by other instructors.
  Lastly, the course content should make use of computation for learning with
  embedded or associated code snippets/programs.
</p>

<p>
  We do <strong>not</strong> mean openly available slides, lecture notes, or YouTube videos,
  though these may be acceptable as supplementary materials. In addition, course syllabi
  by themselves are not suitable for submission
  (<a href="http://syllabusjournal.org/" target="_blank"><em>Syllabus</em></a> may be more appropriate).
</p>

<p>
  <strong>tl;dr:</strong> your course or lesson content must contain or use code to teach.
  We are not focused exclusively on learning to code, but coding to learn.
</p>

<h3>What do you mean by "educational software tools"?</h3>
<p>
  Open-source software that serves as educational technology; examples include
  (but are not limited to) alternatives to learning management systems, autograders,
  cloud systems for lesson delivery, student collaboration tools.
  For these tools, peer review will follow a similar process as
  <a href="http://joss.theoj.org/about#reviewer_guidelines" target="_blank">JOSS</a>.
</p>
