
<h3>What <em>exactly</em> does NeuroLibre offer</h3>

<p>
  The <%= Rails.application.settings['name'] %> (<%= Rails.application.settings['abbreviation'] %>) is a publishing platform with a formal
  peer review process that is designed to <em>improve the quality of the submitted research objects</em>.
  Upon acceptance into <%= Rails.application.settings['abbreviation'] %>, a Crossref DOI is minted,
  and we list your paper on the <%= Rails.application.settings['abbreviation'] %> website.
</p>
