<p>
  JOSS welcomes submissions from broadly diverse research areas. For this reason, we request that
  authors include in the paper some sentences that would explain the software functionality and
  domain of use to a non-specialist reader. Your submission should probably be somewhere between
  250-1000 words.
</p>

<ul>
  <li>A list of the authors of the software and their affiliations</li>
  <li>A summary describing the high-level functionality and purpose of the software for a diverse, non-specialist audience</li>
  <li>A clear statement of need that illustrates the purpose of the software</li>
  <li>A list of key references including a link to the software archive</li>
  <li>Mentions (if applicable) of any ongoing research projects using the software or recent scholarly publications enabled by it</li>
</ul>

<p>
  As this list shows JOSS papers are only permitted to contain a limited set of metadata (see
  header below), Summary &amp; Reference sections. You can see an example paper
  <a href="https://github.com/arfon/fidgit/tree/master/paper" target="_blank">here</a>. Given this
  paper format it is <em>not</em>  permitted to write a "full length" paper i.e. one that includes
  software documentation such as API (Application Programming Interface) functionality, as this
  should instead be outlined in the software documentation.
</p>

<pre style="font-size: 15px; font-weight: bold; padding: 0; margin-left: -25px;">
  Example paper.md:
</pre>

<pre style="font-size: 15px; background: #efefef; padding: 10px 15px;">
---
title: 'Fidgit: An ungodly union of GitHub and figshare'
tags:
- example
- tags
- for the paper
authors:
- name: Arfon M Smith
  orcid: 0000-0000-0000-1234
  affiliation: "1, 2" # (Multiple affiliations must be quoted)
- name: Mickey Mouse
  orcid: 0000-0000-0000-1234
  affiliation: 2
affiliations:
- name: Space Telescope Science Institute
  index: 1
- name: Disney Inc.
  index: 2
date: 14 February 2016
bibliography: paper.bib
---

# Summary

- A summary describing the high-level functionality and purpose of the software
for a diverse, non-specialist audience
- A clear statement of need that illustrates the purpose of the software
- A list of key references including a link to the software archive
- Mentions (if applicable) of any ongoing research projects using the software
or recent scholarly publications enabled by it

Citations to entries in paper.bib should be in
[rMarkdown](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html)
format.

This is an example citation [@figshare_archive].

Figures can be included like this: ![Fidgit deposited in figshare.](figshare_article.png)

# References
</pre>

<pre style="font-size: 15px; font-weight: bold; padding: 20px 0px 0px 0px; margin-left: -25px;">
  Example paper.bib:
</pre>

<pre style="font-size: 15px; background: #efefef; padding: 10px 15px;">
@misc{figshare_archive,
author = {{figshare Archive}},
title = {Fidgit: An ungodly union of GitHub and figshare},
doi = {10.6084/m9.figshare.828487},
howpublished = {\url{https://doi.org/10.6084/m9.figshare.828487}}
}</pre>
