<div class="main" id="osi">
  <h1>Open Source Initiative</h1>

  <%= image_tag "osi_small.png", class: "left", style: "padding-right: 10px;" %>

  <p>
    JOSS is a proud affiliate of the
    <a href="https://opensource.org/" target="_blank">Open Source Initiative</a>.
    As such we are committed to public support for open source software and the role OSI plays
    therein. You can read more about the OSI's affiliate program
    <a href="https://opensource.org/affiliates/about" target="_blank">here</a>.
  </p>
</div>

<div class="main" id="numfocus">
  <h1>NumFOCUS</h1>

  <%= image_tag "numfocus.png", class: "left", style: "padding-right: 10px; width: 200px;" %>

  <p>The Journal of Open Source Software is part of <a href="http://www.theoj.org">Open Journals</a>, which is a <%= link_to "NumFOCUS", "https://www.numfocus.org/open-source-projects/", target: "_blank" %>-sponsored project.</p>

</div>
