<p class="lead">If you've already licensed your code and have good documentation then we expect that it should take <strong>less than an hour</strong> to prepare and submit your paper to JOSS.</p>

<h2>What does a typical submission flow look like?</h2>

<p>Before you submit we need you to:</p>

<ul>
  <li>Make software available in an open repository (GitHub, Bitbucket etc.) and include an <a href="https://opensource.org/licenses">OSI approved open source license</a></li>
  <li>Author a short Markdown paper <code>paper.md</code> with a title, summary, author names, affiliations, and key references. See an example <a href="https://github.com/arfon/fidgit/tree/master/paper" target="_blank">here</a></li>
  <li>Ideally we would also like you to create a metadata file and include it in your repository describing your software. <a href="https://gist.github.com/arfon/478b2ed49e11f984d6fb" target= "_blank">This script</a> automates the generation of this metadata.</li>
</ul>
