<ul>
  <li>Your software should be open source as per <a href="https://opensource.org/osd" target="_blank">the OSI definition</a></li>
  <li>Your software should have an <strong>obvious</strong> research application</li>
  <li>You should be a major contributor to the software you are submitting</li>
  <li>Should be a significant contribution to the available open source software that either enables some new research challenges to be addressed or makes addressing research challenges significantly better (e.g., faster, easier, simpler)</li>
  <li>Should be feature complete (no half-baked solutions)</li>
  <li>Minor, 'utility' packages, including 'thin' API clients are not acceptable</li>
</ul>

<p>In addition, the software associated with your submission must:</p>

<ul>
  <li>Be stored in a repository that can be cloned without registration</li>
  <li>Be stored in a repository that is browsable online without registration</li>
  <li>Have an issue tracker that is readable without registration</li>
  <li>Permit individuals to create issues/file tickets against your repository</li>
</ul>

<p>
  JOSS publishes articles about research software. This definition includes software that: solves
  complex modeling problems in a scientific context (physics, mathematics, biology, medicine, social
  science, neuroscience, engineering); supports the functioning of research instruments or the
  execution of research experiments; extracts knowledge from large data sets; offers a mathematical
  library, or similar.
</p>

<h2>What about submissions that rely upon proprietary languages/development environments?</h2>

<p>We strongly prefer software that doesn't rely upon proprietary (paid for) development environments/programming languages. However, provided <em>your</em> submission meets our submission requirements (including having a valid open source license) then we will consider your submission for review. Should your submission be accepted for review, we may ask you, the submitting author, to help us find reviewers who already have the required development environment installed.</p>
