$color_white: #fff;
$color_prime: #e91b21;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$border-radius-small: rem-calc(0.1875);

@import "bootstrap";

.blog-card {
  border: 0;
  border-radius: $border-radius-small;
  display: flex;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, .2);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;

@include media-breakpoint-down(md) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    border-top: 1px solid rgba(46, 41, 78, 0.10);
}

  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .body {
      background: #f1f1f1;
      margin: 2rem;
    }
  .photo {
    position: absolute;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    transition: transform .2s;
    @include media-breakpoint-down(md) {
        padding: 0.75em 1em 0em 1em;
    }
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    line-height: 2;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(rgb(158, 1, 1), .8);
    background-image: url('/assets/neurolibre_logo_outline.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center right;
    color: $color_white;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    a {
      color: white;
    }
    a:hover {
      background-color: rgba(255, 255, 255, 0.199);
      padding: 1px;
      text-decoration: none;
      color:white;
      font-weight: bold;
      border-radius: 2px;
    }
    ul li {
      display: inline-block;
    }

    .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133";
    }

    .tags {
      ul:before {
        font-family: FontAwesome;
        content: "\f02b";
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;

    .read-more {
      text-align: right;
      a {
        color: $color_prime;
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }
  p {
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-align: left;
    margin: 1rem 0 0;
    color: #000;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width:100px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 500px) {
    .meta {
      width:40%;
      height: auto;
    }
    .description {
      flex-basis: 70%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}

