.editors {
  margin: 0 10%;

  .content {
    padding: 20px 0;
  }

  .links, .actions input, .field {
    margin: 20px 0;
  }

  input[type="text"], input[type="textbox"] {
    &:disabled {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
    }
  }
}
