table.dashboard-table{
  margin-top: 1em;
  background-color: white;
  border-radius: .25em;
  padding: 1.5em 2em;
  box-shadow: 0 2px 8px 0 rgba(46,41,78,0.1);

  thead {
    tr {
      th {
        padding: 1em 0em 1em 1em;
      }

      border-bottom: 1px solid #efefef;
    }
  }

  tbody {
    tr {
      td {
        padding: 1em 0em 1em 1em;
        font-size: 1em;
        line-height: 1em;

        &.state{
          font-size: 0.9em;
        }

        img.avatar {
          margin-right: .2em;
          border-radius: 2em;
        }

        .activity-avatar {
          padding-right: 0.2em;
          float: left;
          min-height: 2em;
          display: inline-flex;
          align-items: center;
        }

        .time {
          font-size: 0.857em;
          margin-bottom: 0;
          padding-bottom: 0;
          color: rgba(46, 41, 78, 0.50);
        }

        .comment-link {
          font-size: 0.857em;
          display: inline-block;
        }

        a.text-truncate {
            font-size: 1em;
            line-height: 1.2em;
            margin-top: 0.5em;
            margin-bottom: 0.2em;
            padding-bottom: 0em;
            display: flex;
            align-items: center;
            color: #2E294E;
            transition: color .3s;

            &:hover {
              color: #007BFF;
              text-decoration: none;
            }
        }
      }
    }
    tr {
      border-bottom: 1px solid #efefef;
    }
  }
}
