.welcome {
  font-size: 1em;
  font-style: italic;
  color: rgba(46, 41, 78, 0.50);
}

.hero-small {
  &.dashboard {
    margin-top: -0.5em;
  }
}

.tabnav-tab {
  @media screen and (max-width: 500px) {
    text-align: center;
  }
}

.my-statistics {

  .col {
    padding-right: 0px;
  }

  .banner {
    border-bottom: 1px solid rgba(46, 41, 78, 0.5);
  }

  span {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0;

    a {
      font-weight: normal;
    }
  }

  .stat {
    .count {
      font-size: 2.5em;
      line-height: 1em;

      .sub {
        font-size: 0.2em;
        line-height: 1em;
        color: rgba(46, 41, 78, 0.5);
      }
    }

    .message {
      font-size: 0.8em;
      color: rgba(46, 41, 78, 0.5);
    }
  }
}

.grey-emoji {
  color: transparent;
  text-shadow: 0 0 0 #aaa;
}

table.dashboard-table, table.comments-table, table.toc-table{
  margin-top: 1em;
  width: 100%;
  background-color: white;
  border-radius: .25em;
  padding: 1.5em 2em;
  box-shadow: 0 2px 8px 0 rgba(46,41,78,0.1);
  font-size: 0.9em;

  @media only screen and (max-width: 900px) {
     .mobile-hide{
         display: none;
     }
   }

  thead {
    tr {
      th {
        padding: 1em 0.3em 1em 0.7em;
      }

      border-bottom: 1px solid #efefef;
    }
  }

  tbody, tfoot {
    tr {
      td {
        padding: 1em 0.3em 1em 0.7em;
        font-size: 1em;
        line-height: 1em;

        img.avatar {
          margin-right: .2em;
          border-radius: 2em;
        }

        .time {
          font-size: 0.857em;
          margin-bottom: 0;
          padding-bottom: 0;
          padding-top: 0.2em;
          color: rgba(46, 41, 78, 0.50);
        }
      }
    }
    tr {
      border-bottom: 1px solid #efefef;
    }
  }
}

table.dashboard-table{
  tbody, tfoot {
    tr {
      td {
        padding: 1em 0.3em 1em 0.7em;
        font-size: 1em;
        line-height: 1em;

        &.state{
          font-size: 0.9em;
        }

        .availability-status-red {
          background-color: #dc3545;
          color: white;
          padding: 0.2em 0.5em;
          border-radius: 2px;
        }

        .availability-status-yellow {
          background-color: #ffc107;
          color: black;
          padding: 0.2em 0.5em;
          border-radius: 2px;
        }

        .availability-status-green {
          background-color: #28a745;
          color: white;
          padding: 0.2em 0.5em;
          border-radius: 2px;
        }

        .activity-avatar {
          padding-right: 0.2em;
          float: left;
          min-height: 2em;
          display: inline-flex;
          align-items: center;
        }

        .comment-link {
          font-size: 0.857em;
          display: block;
        }

        a.text-truncate {
            font-size: 1em;
            line-height: 1.2em;
            margin-top: 0.5em;
            margin-bottom: 0.2em;
            padding-bottom: 0em;
            display: flex;
            align-items: center;
            color: #2E294E;
            transition: color .3s;

            &:hover {
              color: #007BFF;
              text-decoration: none;
            }
        }
      }
    }
    tr {
      &.availability-none {
        background: #e2e3e5;

        td {
          opacity: 0.3;
        }
      }

      &.availability-somewhat {
        background: #fff3cd;
      }
    }
  }
}
