// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.2rem;
  text-align: center;
  background-color: #fff;

  .btn-reverse {
    color: #3c3c3c;
    background: none;
    border: 1px solid #5b5b5b;

    &:hover{
      color: #efefef;
      background: #5b5b5b;
      border-color: #000;
      box-shadow: none;
    }
  }
}

.masthead .masthead-logo {
  display: inline-block;
  margin-top: .5rem;
  font-size: 1.5rem;
  color: #3c3c3c;
  margin-left: -12px;
}

.header-text {
  position: relative;
  padding-left: 5px;
  top: -12px;
}

.masthead .masthead-logo {
  float: left;
  text-decoration: none;
}

.masthead-nav {
    float: right;
    margin-top: .5rem;
}

.masthead-nav {
    float: right;
    margin-top: .5rem;
}

.masthead-nav a {
    display: inline-block;
    text-decoration: none;
}

.masthead a {
    color: #5b5b5b;
}

.masthead-nav a:not(:last-child) {
    margin-right: 1.25rem;
}

.masthead-nav a{
  &.profile-link {
    color: #333;
    margin-right: 0;
  }
}
.masthead-nav {
    margin-top: 1rem;
    font-size: 1rem;
}

.homepage {
  font-size: 16px;
  padding-bottom: 50px;

  h1 {
    border-bottom: 1px solid #eee;
    line-height: 1.2;
    font-size: 35px;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.43;
  }
}

.hero {

  h1 {
    font-size: 50px;
    width: 50%;
    border-bottom: none;
    padding-bottom: 0px;
  }

  .lead {
    padding-top: 0px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }

  .authors {
    font-size: 14px;
  }

  .btn-reverse {
    color: #3c3c3c;
    background: none;
    border: 1px solid #5b5b5b;
    padding: 15px;
    font-size: 20px;

    &:hover{
      color: #efefef;
      background: #5b5b5b;
      border-color: #000;
      box-shadow: none;
    }
  }
}

.wrapper {
  width: auto;
  max-width: 1020px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
}

.wrapper:before {
  display: table;
  content: "";
}

.wrapper:after {
  display: table;
  clear: both;
  content: "";
}

.about-page {
  position: relative;

  h1 {
    border-bottom: 1px solid #eee;
    line-height: 1.2;
    font-size: 35px;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.43;
    margin-top: 20px;
  }

  p {
    font-size: 16px;
    color: #333;

    &.lead {
      font-size: 22px;
    }
  }

  ul {
    font-size: 16px;
    width: 80%;
    margin-left: 30px;
  }
}

.filter-menu {
  margin-top: 30px;
}

.list-paper {
  padding: 15px 10px;
  border-bottom: 1px solid #efefef;

  .octicon{
    float: left;
    margin-top: 8px;
    padding-right: 5px;
  }

  .details {
    p {
      font-size: 14px;
      padding: 0px;
      margin: 0px;
    }
  }

  h2 {
    padding: 5px 0;
    margin: 0px;
  }

  .tag-line {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #3c3c3c;
  }

  .meta {
    text-align: right;
    margin-top: 30px;

    .octicon {
      float: right;
      margin: 0;
      padding: 3px 0 0 5px;
    }

    .doi {
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
  }
}

.centered {
  text-align: center;
}

.menu {
  float: left;
  margin-top: 20px;
  box-sizing: border-box;
  margin-right: 20px;

  &.column {
    padding-left: 0px;
    padding-right: 0px;
    width: calc(25% - 20px);
  }
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

@media (max-width: 600px) {
  .menu {
    &.column {
      float: none;
      width: 100%;
    }
  }

  .three-fourths.column {
    float: none;
    width: 100%;

  }

  .column {
    > .main {
      float: none;
      width: 100%;
    }
  }

  .masthead {
    text-align: center;
  }

  a.masthead-logo {
    display: block;
    padding-bottom: 10px;
    width: 100%;
  }

  span.header-text {
    display: none;
  }

  .hero h1 {
    font-size: 35px;
    width: 100%;
    border-bottom: none;
    padding-bottom: 0px;
  }

  .masthead .masthead-logo {
    float: left;
    text-decoration: none;
  }

  nav.masthead-nav {
    float: none;
    width: 100%;
  }

  .one-half.column.paper-meta {
    width: 100%;
    display: block;
  }

  .list-paper > .meta > .octicon {
    display: none;
  }

  .list-paper > .details > .octicon {
    font-size: 16px;
    margin-top: 12px;
  }

  .list-paper > .details > .paper-title {
    font-size: 16px;
  }
}

.main {
  float: left;
  padding-bottom: 20px;

  blockquote {
    border-left: 4px solid #ddd;
    padding: 0 15px;
    color: #777;

    p {
      color: #777;
    }
  }
}

.editor {
  clear: both;
  min-height: 100px;

  .avatar {
    margin-right: 20px;
  }

  h3 {
    margin-bottom: 0px;
    font-size: 15px;
  }

  p {
    margin-top: 5px;
    font-size: 15px;
    margin-left: 120px;
  }
}

table.editor-stats {
  width: 100%;
  margin: 0px auto;

  border-spacing: 5px;

  th {
    text-align: left;
    background: #afafaf;
  }

  tr.even{
    background: #efefef;
  }

  th, td {
    border: 1px solid #3c3c3c;
    border-collapse: collapse;
    padding: 5px 15px;
  }
}

.footer {
  padding: 10px 0px;
  border-top: 1px solid #ddd;
  font-size: 16px;

  .affiliation {
    line-height: 25px;
    width: 350px;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
  }

  .right{
  }
}
