.hero-small {
  .hero-title {

    @media screen and (max-width: 500px) {
      img {
        display: none;
      }

      h1 {
        margin: 0px;
        padding: 0px;
      }
    }

    h1 {
      margin-top: 5px;
    }
  }
}

.tabnav-tab {
  @media screen and (max-width: 500px) {
    text-align: center;
  }
}

.paper-show {

  .paper-title {
    display: flex;
    margin-bottom: 4em;

    @media screen and (max-width: 500px) {
      margin-bottom: 1em;
    }


    h1 {
      @media screen and (max-width: 500px) {
        font-size: 1.5em;
      }
    }

    .paper-meta {
      margin-left: 1.5em;

      @media screen and (max-width: 500px) {
        margin-left: 0;
      }
    }
  }
}

#joss-paper {
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.paper-status {
  text-align: center;
}

.paper-sidebar {
  font-size: 14px;

  .btn-group-vertical {
    width: 100%;
    margin-bottom: 2em;
  }

  .label {
    font-weight: 700;
    padding-bottom: 0.25em;
  }

  .paper-badges {
    margin-bottom: 2em;
  }

  .btn {
    color: #2E294E;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #EAE9ED;
    text-align: left;
    height: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-in;

    &:hover {
      background: #fff;
      color: #2E294E;
      box-shadow: 0 0px 10px rgba(0, 0, 0, .10);

    }

    img {
      margin-right: 1em;
    }
  }
}
