// Place all the styles related to the papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-paper, .show-paper {
  font-size: 16px;
  padding-bottom: 50px;

  h1 {
    // border-bottom: 1px solid #eee;
    line-height: 1.2;
    font-size: 30px;
    padding-bottom: 0px;
    font-style: italic;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.43;
  }

  @media screen and (max-width: 600px) {
    #joss-paper {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }

  .lead {
    padding: 0px 10px;
  }

  .paper-body {
    p, ul {
      margin-bottom: 30px;
      padding: 0px 10px;
      font-size: 20px;
      font-weight: 300;
      color: #555;
    }

    ul, ol {
      margin-left: 0px;
      padding-left: 20px;
    }

    li {
      font-size: 16px;
      font-weight: 300;
      color: #555;
      margin-left: 20px;
    }
  }

  .authors {
    padding-bottom: 10px;
  }

  .metadata {
    padding-top: 0px;
    float: left;
    width: 280px;
    font-size: 14px;

    .status {
      width: 70px;
      display: inline-block;
    }


    strong {
      display: block;
      padding-bottom: 5px;
    }

    p{
      margin: 0px;
      padding: 0px;
    }

    a {
      color: #3780f7;
    }

    ul {
      margin: 0px;
      padding: 10px 0px 10px 30px;

      li{
        // list-style: none;
        padding: 0px;
        margin: 0px;
        text-indent: -4px;

        a {
        }

        a:hover{
          color: #3780f7;
          font-style: underline;
        }
      }
    }

    .citation {
      padding: 20px 0px 0px 0px;
    }

    .license {
      padding: 20px 0px 0px 0px;
    }
  }
}

.flash {
  p {
    margin-top: 0px;
  }

  ul {
    margin-left: 30px;
    margin-top: -5px;
  }
}

.new-paper-form {
  width: 990px;
  margin: 0px auto;

  .flash {
    margin-left: 10px;
  }

  form {
    margin-top: 20px;
  }

  label {
    display: block;
    font-size: 13px;
    line-height: 20px;

    &.uppercase {
      text-transform: uppercase;
    }
  }

  dl.full {
    padding: 0px 10px;
  }

  input, textarea {
    width: 100%;
  }

  input[type='submit'] {
    width: 130px;
    margin-right: 10px;
    margin-top: 10px;
  }

  input[type='checkbox'] {
    width: 10px;
    margin-left: 10px;
  }
}

h2.paper-title {
  a {
    text-decoration: none;
    color: #3c3c3c;
    padding-right: 10px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.start-review{
  margin-right: 10px;
}

.flash {
  margin-bottom: 10px;
}

.accepted-paper {
  .author-list {
    list-style: none;

    li {
      display: inline;
    }

    li:after{
      content: " /";
    }

    li:last-child:after {
      content: "";
    }
  }

  .links {
    margin: 20px 0px 0px 0px;
    padding: 10px;
    background: #efefef;
    border: 1px solid #bdbdbd;
  }

  .paper-body {
    .column {
      padding-left: 0px;
    }

    h1 {
      font-size: 20px;
      border-bottom: none;
      padding-bottom: 0px;
    }

    h2 {
      font-size: 16px;
      border-bottom: none;
      padding-bottom: 0px;
    }

    p {
      padding: 0px;
      font-size: 16px;
      line-height: 20px;
      font-weight: lighter;
    }
  }
}
