// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-window {
  position: relative;
  margin-top: 100px;
  font-size: 13px;
  line-height: 1.4;
  border: 1px solid #e5e5e5;
  border-radius: .25rem .25rem 0 0;
}
