<div class="container">
  <div class="btn-group" role="group" aria-label="Paper Status">
    <%= link_to "Submissions overview", eic_dashboard_path, class: current_class?(eic_dashboard_path) %>
    <%= link_to "Editors", editors_path, class: current_class?(editors_path) %>
  </div>
</div>
