<!DOCTYPE html>
<html lang="en">
<title>The Journal of Open Source Software</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<body>
  <header class="masthead">
    <div class="container">
      <a href="/" class="masthead-logo">
      <span class="mega-octicon octicon-book"></span>
        The Journal of Open Source Software
      </a>

      <nav class="masthead-nav">
        <a href="/about">Submit</a>
        <a href="/about">About</a>
        <a href="https://github.com/openjournals/joss" target="_blank">GitHub</a>
      </nav>
      </div>
    </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
